<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>com.servlet.test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>myDataScatter</servlet-name>
        <servlet-class>com.servlet.myDataScatter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myDataScatter</servlet-name>
        <url-pattern>/myDataScatter.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>judicialDataScatter</servlet-name>
        <servlet-class>com.servlet.judicialDataScatter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>judicialDataScatter</servlet-name>
        <url-pattern>/judicialDataScatter.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>myFileContent</servlet-name>
        <servlet-class>com.servlet.myFileContent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myFileContent</servlet-name>
        <url-pattern>/myFileContent.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>judicialFileContent</servlet-name>
        <servlet-class>com.servlet.judicialFileContent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>judicialFileContent</servlet-name>
        <url-pattern>/judicialFileContent.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getSimilarityMatch</servlet-name>
        <servlet-class>com.servlet.getSimilarityMatch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getSimilarityMatch</servlet-name>
        <url-pattern>/getSimilarityMatch.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>categoriesOfGroups</servlet-name>
        <servlet-class>com.servlet.categoriesOfGroups</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>categoriesOfGroups</servlet-name>
        <url-pattern>/categoriesOfGroups.do</url-pattern>
    </servlet-mapping>
</web-app>